<ion-view view-title="{{ translate.home }}">
  <ion-content scroll="false" style="background-image:url('img/bgP.jpg');">
        <div id="profile-bg"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
            <h3 id="profile-name">Jean C.</h3>
          <span id="profile-description"><a href="http://twitter.com/ionicframework">Menuisier</a> /
            <a href="http://twitter.com/driftyco">Artisan</a></span>
          </div>
          <ion-scroll direction="y" style="border-top: 4px solid #ef473a;" class="theroot home-bottom height-div-for-scroll">
        <h2 class="title_bot text-center" style="font-family: 'Lobster', cursive;padding-top:10px;">{{ translate.news }}</h2>
           <div class="list">
               <a ng-repeat="new in news" class="item item-thumbnail-left" href="#" ng-click="goNews($index)">
                 <img src="{{ new.img }}">
                 <h2>{{ new.titre }}</h2>
                 <p>{{ new.contenu }}</p>
               </a>
           </div>
           <p class="space"></p>
      </ion-scroll>
  </ion-content>
</ion-view>
