<ion-view view-title="Accueil">
  <ion-content scroll="false">
      <ion-scroll direction="y" class="theroot home-bottom">
           <h2 class="title_bot">ACTUALITÉES</h2>
           <div class="list">
               <a ng-repeat="new in news" class="item item-thumbnail-left" href="#" ng-click="goNews($index)">
                 <img src="{{ new.img }}">
                 <h2>{{ new.titre }}</h2>
                 <p>{{ new.contenu }}</p>
               </a>
           </div>
           <p class="space"></p>
      </ion-scroll>
  </ion-content>
</ion-view>