<ion-view view-title="Login">
  <ion-content>
    <div class="list">
      <div class="text-center" style="margin-top:35px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Wikispecies-logo.svg" width="33%">
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10" style="margin-top:50px">
          <label class="item item-input item-floating-label">
            <span class="input-label">Login</span>
            <input type="text" placeholder="Login">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="text" placeholder="Password">
          </label>
          <button class="button button-block button-positive">
            Sign in
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
