<ion-view view-title="Login" style="background-color:#4C4C4C;">
  <ion-content>
    <div class="list">
      <div class="text-center" style="margin-top:35px">
        <img src="img/logo.png" style="width: 270px;">
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10" style="margin-top:50px">
          <ion-md-input placeholder="{{ translate.login.username }}" highlight-color="energized" type="text"></ion-md-input>
          <ion-md-input placeholder="{{ translate.login.password }}" highlight-color="energized" type="password"></ion-md-input>
          <button ng-click="goHomePage()" style="position:relative;top:25px;" class="button button-block button-assertive">
            {{ translate.login.connect }}
          </button>
          <p class="sign">
            <a ng-click="goSignPage()">{{ translate.login.register }}</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
