<ion-view view-title="Carte">
  <ion-header-bar class="bar-positive">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>
  </ion-header-bar>
  <ion-content id="map">

  </ion-content>
  <ion-footer-bar>
    <div class="tabs">
      <a class="tab-item active">
        Carte
      </a>
      <a class="tab-item">
        Liste
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
