<ion-view view-title="{{ new.titre }}">
    <ion-content delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">
        <div id="example-elastic-header" class="background-image" style="background-image: url('{{new.img}}');"></div>

        <div class="content-lo">
            <h2>{{ new.titre }}</h2>
            <p class="padding" style="padding-top:20px;">
                {{ new.contenu }}
            </p>
        </div>
    </ion-content>
</ion-view>
